html, body{
  height: 100%;
  width: 100%;
  background-color: lightgray;
}
html{
    position: relative;
}
.formElement{
  max-width: 130px;
}

.expanded{
  height: 500px;
}
#left-nav{
  float: left;
  width: 150px;
  height: 100%;
  background-color: #dde0e0;
}

#leftTree{
  float: left;
  width: 150px;
  height: 100%;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

#container{
  float: left;
}

#loginAlerts{
  background-color: #ff523c;
}

#treeExpand{
  float: left;
  width: 40px;
  height: 100%;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.main_body{
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

#signin_body{
  width: 350px;
}

#user{
  margin-right: 10px;
}

.signin_input{
  margin-top: 10px;
}
.nav_item{
  margin-right: 10px;
}
